<p-toast></p-toast>
<div class="flex flex-col">
  <div class="panel-wrapper mb-5">
    <p-panel>
      <!-- <h3>Notification Channels Configuration</h3> -->
      <form
        [formGroup]="notificationsSettingsFormChannelConfig"
        (ngSubmit)="onSubmitChannelConfig()"
      >
        <div class="latter-section">
          <div class="latter-section-top">
            <div class="sec left">
              <div class="tag">Dashboard Notifications</div>
              <div class="switch">
                <p-inputSwitch
                  formControlName="dashboardNotifications"
                ></p-inputSwitch>
              </div>
            </div>
            <div class="sec left">
              <div class="tag">Email Notifications</div>
              <div class="switch">
                <p-inputSwitch
                  formControlName="emailNotifications"
                ></p-inputSwitch>
              </div>
            </div>
          </div>

          <div class="latter-inputsection">
            <div class="latter-tag" style="margin: 2rem 0 2rem 0">
              Emails to send Notifications to
            </div>
            <div class="full-width">
              <div class="card p-fluid">
                <p-chips
                  id="email-chips"
                  [(ngModel)]="NotificationChips"
                  formControlName="notificationEmails"
                ></p-chips>
              </div>
            </div>
          </div>

          <div class="flex justify-end mt-20">
            <button
              pButton
              pRipple
              label="Update Settings"
              class="p-button-primary"
              type="submit"
            ></button>
          </div>
        </div>
      </form>
    </p-panel>
  </div>
</div>