
:host ::ng-deep .p-card .p-card-body {
  padding: 0;
}

:host ::ng-deep .p-card {
  background: #ffffff;
  color: #4b5563;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), /* Top side */
  -1px 0 1px -1px rgba(0, 0, 0, 0.14), /* Left side */
  1px 0 1px -1px rgba(0, 0, 0, 0.14), /* Right side */
  0 1px 3px 0 rgba(0, 0, 0, 0.12); /* Bottom side (optional) */
  border-radius: 3px;
}
