<app-page-header pageTitle="Social Media Analytics Dashboard" class="w-full h-fit" [breadcrumbItems]="breadcrumbItems"
  [showDatePicker]="true" [callDashboardDate]="true" (callDateRangeChanged)="DateChanged($event[0], $event[1])" />

<p-panel class="text-center justify-center" [style.display]="isError ? 'block' : 'none'">
  <div class="flex justify-between items-center px-3 mb-5">
    <img src="./assets/img/500.jpg" style="width: 60%;">
    <p class="text-4xl">Internal Server Error</p>
    <p>{{ userMessages.FETCH_ERROR_USER_MSG }}</p>
  </div>
</p-panel>

<div [style.display]="isError ? 'none' : 'block'">

  <div class="grid grid-cols-4 gap-4">

    <div class="md:col-span-1 sm:col-span-4 min-h-80">
      <ng-container *ngIf="loadingDoughnut">
        <p-skeleton height="100%" width="100%" />
      </ng-container>
      <ng-container *ngIf="!loadingDoughnut">
        <doughnut-chart title="Overall Sentiment" [percentages]="data_doughnut" />
      </ng-container>
    </div>

    <div class="md:col-span-1 sm:col-span-4">
      <ng-container *ngIf="loadingFacebookScore">
        <p-skeleton height="100%" width="100%" />
      </ng-container>
      <ng-container *ngIf="!loadingFacebookScore">
        <app-gauge-chart-facebook [inputData]="facebookScore" />
      </ng-container>
    </div>

    <div class="md:col-span-1 sm:col-span-4">
      <ng-container *ngIf="loadingInstagramScore">
        <p-skeleton height="100%" width="100%" />
      </ng-container>
      <ng-container *ngIf="!loadingInstagramScore">
        <app-gauge-chart-instagram [inputData]="instagramScore" />
      </ng-container>
    </div>

    <div class="md:col-span-1 sm:col-span-4">
      <div class="grid md:grid-rows-2 sm:grid-cols-1 gap-4">
        <ng-container *ngIf="loadingWordCloudProduct">
          <p-skeleton height="100%" width="100%" />
        </ng-container>
        <ng-container *ngIf="!loadingWordCloudProduct">
          <word-cloud-topics [data]="wordCloudProductData" title="Product Trends" />
        </ng-container>

        <ng-container *ngIf="loadingWordCloudKeywords">
          <p-skeleton height="100%" width="100%" />
        </ng-container>
        <ng-container *ngIf="!loadingWordCloudKeywords">
          <word-cloud-keywords [data]="wordCloudKeywordsData" title="Keyword Trends" />
        </ng-container>
      </div>
    </div>

    <div class="md:col-span-2 sm:col-span-4">
      <ng-container *ngIf="loadingChartFacebook">
        <p-skeleton height="100%" width="100%" />
      </ng-container>
      <ng-container *ngIf="!loadingChartFacebook">
        <line-chart-facebook [data]="chartFacebookData" title="Insights from Facebook" />
      </ng-container>
    </div>

    <div class="md:col-span-2 sm:col-span-4">
      <ng-container *ngIf="loadingChartInstagram">
        <p-skeleton height="100%" width="100%" />
      </ng-container>
      <ng-container *ngIf="!loadingChartInstagram">
        <line-chart-instagram [data]="chartInstagramData" title="Insights from Instagram" />
      </ng-container>
    </div>

    <div class="col-span-4">
      <app-comparison-insight></app-comparison-insight>
    </div>

  </div>

</div>