:host ::ng-deep {
  .p-panel-content{
    border:0;
    border-radius: 0;
  }
  //janith
  .p-panel{
    height:100%;
  }
  .p-component{
    height:100%;
  }
  .p-panel-content{
    height:100%;
    padding-bottom:0
  }
  .p-panel-header{
    padding:0;

  }
  .p-toggleable-content{
    height:100%
  }

  .p-menubar{
    border:none;
    background: inherit;
  }
  angledownicon{
    display:none;
  }


  .chart-header-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height:20px;

  }
  .p-menubar p-menubarsub {
    position: absolute;
    right: 0;
  }
  .p-menubar .p-submenu-list {
    position: relative;
    right:0;
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Make sure the position is relative for the menu */
  border-bottom:0;
  margin-bottom: 0;
}

.chart-title {
  font-size: 18px;
  font-weight: bold; /* Make the title bold */
  text-align: left;
  padding-top: 1px;
  padding-left: 2px;

}

.menu-container {
  position: relative; /* Ensure the menu is positioned relative to the container */
}

.menu-icon {
  cursor: pointer;
}


