<p-panel class="flex flex-col text-center justify-center">
  <div class="title-container">
    <p class="chart-title">{{ title }}</p>
<!--      <p *ngIf="selectedDateRange && selectedDateRange.length === 2 && selectedDateRange[0] && selectedDateRange[1]">{{ selectedDateRange[0]}} - {{ selectedDateRange[1]}}</p>-->
<!--      <p *ngIf="Date">{{ Date}}</p>-->
      <div class="card">
        <p-menubar [model]="items" />
      </div>
<!--    <div class="menu-container">-->
<!--      <i class="pi pi-times" style="color: rgb(56, 56, 56)" (click)="confirmDeleted()" *ngIf="closable"></i>-->
<!--    </div>-->
  </div>
<div *ngIf="edit!=true">
  <p-chart type="bar" [data]="data" [options]="options"></p-chart>
</div>
  <!-- <div *ngIf="edit==true">
    <div *ngIf="categories.length > 1">
      <div *ngFor="let category of categories" class="field-checkbox flex align-items-center">
       <p-checkbox
          [(ngModel)]="selectedCategories"
         [label]="category"
          name="group"
         [value]="category"
          (ngModelChange)="onSourceChange(category)"/>
       </div>
    </div>
       <div>
        <table>
          <tr>
            <td>Count Minimum</td>
            <td><p-selectButton class="small-select-button" [options]="[
              { label: '2', value: 2 },
              { label: '10', value: 10 },
            ]" [(ngModel)]="countMin" optionLabel="label" optionValue="value" ></p-selectButton></td>
          </tr>
          <tr>
            <td>Count Maximum</td>
            <td><p-selectButton  class="small-select-button" [options]="[
              { label: '10', value: 10 },
              { label: '25', value: 25 },
            ]" [(ngModel)]="countMax" optionLabel="label" optionValue="value" ></p-selectButton>
            </td>
          </tr>
          
          <tr>
            <td>
              <button pButton type="button" label="Apply" (click)="editOffApply()" ></button>
            </td>
            <td><button pButton type="button" label="cancel" (click)="editOffCancel()" ></button>
            </td>
          </tr>
        </table>
        
      </div>
    
    
  
      <p-button (click)="showDialog()" label="Show" /> -->
  <!-- </div> -->


  <div *ngIf="edit==true" class="editSettings">
    <div>
     <table>
       <tr>
         <div *ngIf="categories.length > 1">
           <div *ngFor="let category of categories" class="field-checkbox flex align-items-center">
             <td>
            <p-checkbox
               [(ngModel)]="selectedCategories"
              [label]="category"
               name="group"
              [value]="category"
               (ngModelChange)="onSourceChange(category)"/>
             </td>
            </div>
         </div>
       </tr>
       <tr>
         <td>Count Minimum</td>
         <td>
           <input type="text" pInputText [(ngModel)]="countMin" class="w-full mb-3"/>
           <p-slider [(ngModel)]="countMin" class="w-full" (onChange)="onSliderChange($event)"/><br>
           <!-- <p-selectButton [options]="[
           { label: '0.5', value: 0.5 },
           { label: '0', value: 0 },
           { label: '1', value: 1 },
           { label: '2', value: 2 },
         ]" [(ngModel)]="emailWeigth" optionLabel="label" optionValue="value" ></p-selectButton> -->
         </td>
       </tr>
       <tr>
         <td>Count Maximum</td>
         <td>
           <input type="text" pInputText [(ngModel)]="countMax" class="w-full mb-3"/>
           <p-slider [(ngModel)]="countMax" class="w-full" (onChange)="onSliderChange($event)"/><br>
           <!-- <p-selectButton [options]="[
           { label: '0.5', value: 0.5 },
           { label: '0', value: 0 },
           { label: '1', value: 1 },
           { label: '2', value: 2 },
         ]" [(ngModel)]="callWeigth" optionLabel="label" optionValue="value" ></p-selectButton> -->
         </td>
       </tr>
       <tr>
         <td style="align-items: center;">
           <button pButton type="button" label="Apply" (click)="editOffApply()" ></button>
         </td>
         <td style="align-items: center;"><button pButton type="button" label="cancel" (click)="editOffCancel()" ></button>
         </td>
         <td></td>
       </tr>
     </table>
     
   </div>
 
 

   <!-- <p-button (click)="showDialog()" label="Show" /> -->
</div>


</p-panel>
