<div class="my-container flex flex-col h-auto">
  <div class="my-child-1 flex-none">
    <app-page-header
      pageTitle="Email Analytics Dashboard"
      class="w-full h-fit"
      [breadcrumbItems]="breadcrumbItems"
      [showDatePicker]="true"
      (rangeDatesChanged)="onRangeDatesChanged($event)"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [emailDashboardDate]="true"
      [intervalInDaysStart]="intervalInDaysStart"
      [intervalInDaysEnd]="intervalInDaysEnd"
    />
  </div>
</div>



<!-- NEW -->
<div
  class="flex-grow min-h-[900px] grid grid-cols-2 gap-5 md:grid-cols-4 md:min-h-[600px]"
>
  <div
    class="flex flex-col col-span-2 min-h-72 h-max md:min-h-64 md:col-span-3 place-content-evenly overflow-hidden border border-solid border-slate-300 rounded-lg bg-white hover:bg-gray-50 hover:border-sky-400 hover:cursor-pointer transition hover:duration-150"
  >
    <!-- <span class="text-5xl">1</span>
      <span class="text-3xl">summary</span> -->
    <div class="h-fit">
      <app-dashboard-overall-progress
      [intervalInDaysStart]="intervalInDaysStart"
      [intervalInDaysEnd]="intervalInDaysEnd"
      [efficiencyData]="dntChartDataOverallEfficiency"
      [effectivenessData]="dntChartDataOverallEffeftiveness"
      [progressData]="dntChartDataProgress"></app-dashboard-overall-progress>
    </div>
  </div>
  <div
    class="flex flex-col col-span-2 min-h-36 md:min-h-48 md:col-span-1 items-center overflow-hidden relative"
  >
    <!-- <span class="text-5xl">5</span>
      <span class="text-3xl">sentiment score</span> -->
    <div class="w-full h-full flex justify-center items-center border border-solid border-slate-300 rounded-lg bg-white hover:bg-gray-50 hover:border-sky-400 hover:cursor-pointer transition hover:duration-150">
      <app-dashboard-sentiment-card
      [intervalInDaysStart]="intervalInDaysStart"
      [intervalInDaysEnd]="intervalInDaysEnd"
      [value]="dataValue_forGaugeStart"></app-dashboard-sentiment-card>
    </div>
  </div>
  <div
    class="flex flex-col col-span-2 min-h-36 md:min-h-48 items-center overflow-hidden relative"
  >
    <!-- <span class="text-5xl">2</span>
      <span class="text-3xl">issues</span> -->
    <div class="w-full h-full border border-solid border-slate-300 rounded-lg bg-white hover:bg-gray-50 hover:border-sky-400 hover:cursor-pointer transition hover:duration-150">
      <app-dashboard-issue-inquiry
      [intervalInDaysStart]="intervalInDaysStart"
      [intervalInDaysEnd]="intervalInDaysEnd"
      [openedIssuesCount]="openedIssuesCount"
      [closedIssuesCount]="closedIssuesCount"
      [openedInquiriesCount]="openedInquiriesCount"
      [closedInquiriesCount]="closedInquiriesCount"></app-dashboard-issue-inquiry>
    </div>
  </div>
  <div
    class="flex flex-col col-span-2 min-h-36 md:min-h-48 items-center overflow-hidden relative"
  >
    <!-- <span class="text-5xl">2</span>
  <span class="text-3xl">issues</span> -->
    <div class="w-full h-full border border-solid border-slate-300 rounded-lg bg-white hover:bg-gray-50 hover:border-sky-400 hover:cursor-pointer transition hover:duration-150">
      <app-dashboard-time-graph
      [intervalInDaysStart]="intervalInDaysStart"
      [intervalInDaysEnd]="intervalInDaysEnd"
      [overdueCount]="overdueCount"
      [avgFRT]="avgFirstResponseTime"
      [firstResponseTimes]="firstResponseTimes"
      [clientMsgTimes]="clientMsgTimes"
      ></app-dashboard-time-graph>
    </div>
  </div>
  <div
    class="flex flex-col col-span-2 min-h-36 md:min-h-48 items-center overflow-hidden border border-solid border-slate-300 rounded-lg bg-white hover:bg-gray-50 hover:border-sky-400 hover:cursor-pointer transition hover:duration-150"
  >
    <!-- <span class="text-5xl">2</span>
      <span class="text-3xl">issues</span> -->
    <div class="h-full w-full p-4">
      <app-dashboard-product-insights
      [intervalInDaysStart]="intervalInDaysStart"
      [intervalInDaysEnd]="intervalInDaysEnd"
      [product_performance_scores]="products_performance_scores"
      [product_labels]="products_labels"></app-dashboard-product-insights>
    </div>
  </div>

  <div
    class="flex flex-col col-span-2 min-h-36 md:min-h-48 items-center overflow-hidden border border-solid border-slate-300 rounded-lg bg-white hover:bg-gray-50 hover:border-sky-400 hover:cursor-pointer transition hover:duration-150"
  >
    <!-- <span class="text-5xl">4</span>
      <span class="text-3xl">suggestions</span> -->
    <div class="h-full w-full p-4">
      <app-dashboard-account-insights
      [intervalInDaysStart]="intervalInDaysStart"
      [intervalInDaysEnd]="intervalInDaysEnd"
      [accountCardsArr]="EmailAccData"></app-dashboard-account-insights>
    </div>
  </div>
</div>
<!-- END of NEW -->



