:host ::ng-deep {
  .p-breadcrumb {
    background: transparent;
    height: 18px;
  }

  // p-calendar button{
  //   background: #000000;
  //   border: 1px solid #000000;
  // }
  .p-datepicker-title button {
    background: #000000;
    //border: 1px solid #000000;
    color: #ffffff;
  }

    .p-datepicker table td {
      padding: 0;
    }

    .p-datepicker .p-datepicker-buttonbar {
      padding: 0;
    }

    .p-datepicker .p-timepicker {
      padding: 0;
    }
  }


//#64748b
//background: #3B82F6;
//border: 1px solid #3B82F6;
