.notification-card {
  width: 100%;
}

.full-width-card {
  width: 100%;
}

:host ::ng-deep .p-component, .p-component * {
  box-sizing: border-box;
  height: auto;
  margin-bottom: 2px;
}

:host ::ng-deep .p-card .p-card-body {
  padding: 0 1.25rem;
}

.card-header {
  display: flex;
  align-items: center;
}

.icons {
  flex-shrink: 0;
  margin-right: 10px;
  margin-left:15px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.notification-detail1 {
  margin-top:10px;
  color: #030303;
  margin-bottom:10px;
  font-weight: bold;
}


.notification-detail2 {
  margin-top:10px;
  color: #9a9999;
  margin-bottom:10px;
}

.card-content3, .card-content4 {
  margin: 0;
}

.card-content1 {
  color: #000000;
}

.card-content2 {
  font-size: 12px;
  color: #101010;
}

.card-content4 {
  font-size: 12px;
  color: #7a7a7a;
  margin-top:10px;
}

:host ::ng-deep .p-card .p-card-content {
  padding: 0;
  padding-bottom: 15px;
}
